/* src/App.css */

/* Font */
@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Body */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
}

/* Animation */
.header,
.landing-page,
.education,
.skills,
.certifications,
.back-to-top {
  animation: fadeIn 1s ease-in-out;
}

/* Back-to-Top Button */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.back-to-top.visible {
  display: block;
}

/* Bootstrap Styles Override */
.btn-dark {
  background-color: #000 !important;
  color: #fff;
}

.btn-dark:hover {
  background-color: #333 !important;
}

/* Profile Picture Styles */
.profile-picture-container {
  display: inline-block;
  border: 5px solid #000; /* Black border */
  border-radius: 50%; /* Make the border a perfect circle */
  overflow: hidden; /* Ensure the image stays within the rounded border */
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
}

.profile-picture {
  width: 100%; /* Use 100% width to fill the container */
  height: 100%; /* Use 100% height to fill the container */
  object-fit: cover; /* Maintain aspect ratio */
}

/* Responsive Styles for Profile Picture */
@media (min-width: 768px) {
  .profile-picture-container {
    width: 400px; /* Adjust the size for desktop (three times bigger) */
    height: 400px; /* Adjust the size for desktop (three times bigger) */
  }
}

/* Animation Keyframes */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
