/* src/App.css */

/* Font */
@font-face {
  font-family: 'Roboto-Bold';
  src: url('./fonts/Roboto-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}

/* Body */
body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FFFFFF; /* Updated background color */
  color: #333; /* Default text color */
}

/* Animation */
.header,
.landing-page,
.education,
.skills,
.certifications,
.back-to-top {
  animation: fadeIn 1s ease-in-out;
}

/* Back-to-Top Button */
.back-to-top {
  position: fixed;
  bottom: 25px;
  right: 25px;
  display: none;
}

.back-to-top.visible {
  display: block;
}

/* Bootstrap Styles Override */
.btn-dark {
  background-color: #000 !important;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-dark:hover {
  background-color: #333 !important;
}

/* Profile Picture Styles */
.profile-picture-container {
  display: inline-block;
  border: 5px solid #000; /* Black border */
  border-radius: 50%; /* Make the border a perfect circle */
  overflow: hidden; /* Ensure the image stays within the rounded border */
  width: 150px; /* Adjust as needed */
  height: 150px; /* Adjust as needed */
}

.profile-picture {
  width: 100%; /* Use 100% width to fill the container */
  height: 100%; /* Use 100% height to fill the container */
  object-fit: cover; /* Maintain aspect ratio */
}

/* Responsive Styles for Profile Picture */
@media (min-width: 768px) {
  .profile-picture-container {
    width: 400px; /* Adjust the size for desktop (three times bigger) */
    height: 400px; /* Adjust the size for desktop (three times bigger) */
  }
}

/* Animation Keyframes */
.fade-in {
  animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/* Notification Styles */
.notification-container {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 9999; /* Ensure it's above other content */
}

.notification-content {
  background-color: #007bff; /* Custom background color */
  color: #fff; /* Custom text color */
  padding: 15px; /* Custom padding */
  border-radius: 8px; /* Custom border radius */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Custom box shadow */
}


.notification-title {
  font-weight: bold; /* Bold font weight for the title */
}

.notification-message {
  margin-top: 5px; /* Margin above the message */
}

.notification-text {
  font-size: 12px; /* Font size for the text */
}


.notification-container {
  position: fixed;
  bottom: 70px; /* Adjust the position to be above the BackToTopButton */
  right: 20px;
  z-index: 9999;
}

.back-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
}

.back-to-top.visible {
  display: block;
}

.custom-notification .btn-close {
  position: absolute;
  top: 10px; /* Adjust this value to change the vertical position */
  right: 10px; /* Adjust this value to change the horizontal position */
  cursor: pointer;
  color: #000; /* Change the color to match your design */
}

.custom-notification .btn-close:hover {
  color: #ff0000; /* Change the color on hover to indicate it's clickable */
}
